[Unit]
Description=OpenDID TAS
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
Type=simple
User=opendid
Group=opendid
WorkingDirectory=/opt/opendid
Environment=JAVA_HOME=/usr/lib/jvm/java-21-openjdk
Environment=PATH=/usr/lib/jvm/java-21-openjdk/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
EnvironmentFile=/opt/opendid/secrets/TA/tas.env
ExecStart=java -jar /opt/opendid/jars/TA/did-ta-server-2.0.0.jar --server.port=8090 --spring.config.additional-location=file:/opt/opendid/config/ta.yml
Restart=on-failure
RestartSec=10
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
