OPENDID_POSTGRES_PORT=5432
OPENDID_POSTGRES_USER=postgres
OPENDID_POSTGRES_PASSWORD=change-me-before-start
OPENDID_POSTGRES_DB=postgres

OPENDID_BESU_HTTP_PORT=8545
OPENDID_BESU_WS_PORT=8546
OPENDID_BESU_P2P_PORT=30303

FM_HOLDER_DATA_DIR=/opt/opendid/state/holder
FM_HOLDER_PEPPER=change-me-before-start
FM_WALLET_PROVIDER_PATH=/opt/opendid/secrets/Wallet/wallet.wallet
FM_WALLET_PROVIDER_PW=change-me-before-start
FM_CAS_PROVIDER_PATH=/opt/opendid/secrets/CA/cas.wallet
FM_CAS_PROVIDER_PW=change-me-before-start
